*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.cube{
    margin: 0 auto;
    width: 10px;
    height: 10px;
    background-color: teal;
}

button{
    width: 200px;
    height: 100px;
    background-color: yellow;
    border: none;
    cursor: pointer;
}

.choose-btn{
    display: block;
}

.btns{
    display: none;
}

.show-btns{
    display: flex;
    gap: 30px;
}