*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar{
  padding: 30px;
  background-color: teal;
}

.navbar ul{
  display: flex;
  justify-content: center;
  gap: 30px;
}

.section{
  padding: 60px;
  background-color: orange;
}

.footer{
  padding: 30px;
  background-color: green;
}