*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

#banner{
    height: 100vh;
    padding-top: 350px;
    background-image: url('../images/background_images/slider_background.jpg');
    background-position: center;
    background-size: cover;
}

.banner{
    /* height: 100vh; */
    padding-top: 100px;
}

.content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
}

.content button{
    width: 60px;
    height: 60px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    transition: 0.2s;
}

.content button:hover{
    color: white;
    background-color: #FFB606;
}

.content h2{
    font-size: 72px;
    font-weight: 500;
    color: white;
}

.content h2 span{
    margin: 0 3px;
    padding: 0 12px;
    font-weight: 400;
    background-color: #FFB606;
}

.banner .cards{
    width: 100%;
    display: flex;
}

.banner .cards .card-main{
    width: calc(100% / 12 * 4);
}

.banner .cards .card{
    width: 92%;
    padding: 56px 0;
    background-color: rgb(26,26,26);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.banner .cards .card i{
    font-size: 56px;
    color: #FFB606;
}

.banner .cards .card h6{
    font-size: 24px;
    margin-bottom: 8px;
    color: white;
}

.banner .cards .card p{
    font-size: 12px;
    color: white;
}


/* POPULAR COURSES */

.popular-items .card-main{
    width: calc(100% / 12 * 4);
}

.popular-items .cards{
    display: flex;
}

.popular-items .card{
    width: 92%;
}

.popular-items .card img{
    width: 100%;
}