*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.elements{
    padding: 100px;
}

form{
    max-width: 500px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}